@page {
  size: letter;
  margin: 0.5in 0.8in;
}

body {
  color: #000000;
  background: #eeeeee;
  font: 1.1em "Inconsolata";
  line-height: 1.2;
  margin: 40px 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 200%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-variant: none;
}

/* email */
h1 + p {
  text-align: center;
  font-size: 90%;
  margin: 0;
  padding-top: 5px;
}

h2 {
  border-bottom: 1px solid #000000;
  text-transform: uppercase;
  font-size: 130%;
  margin-top: 10px;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

/* Subheading Detail Line */
h3 + p {
  margin-top: 5px;
  padding: 0;
}

ul {
  margin-top: 10px;
  padding: 0;
}

a,
a:link,
a:visited,
a:hover {
  color: #000000;
  text-decoration: none;
}
