@page {
  size: letter;
  margin: 0.5in 0.8in;
}

body {
  color: #000000;
  background: #eeeeee;
  font: 1.1em "Inconsolata";
  line-height: 1.2;
  margin: 40px 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 200%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-variant: none;
}

/* email */
h1 + p {
  text-align: center;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #000000;
  text-transform: uppercase;
  font-size: 130%;
  margin: 1em 0 0 0;
  padding: 0;
}

h3 {
  font-size: 100%;
  margin: 0.8em 0 0.3em 0;
  padding: 0;
}

p {
  margin: 0 0 0.5em 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0 1.5em;
}

a,
a:link,
a:visited,
a:hover {
  color: #000000;
  text-decoration: none;
}
